<!DOCTYPE html>
<html lang='en'>
{{> head 
    title="Funkallero UI Logout" 
    description="Logout page for Funkallero"
    pureCss=true
}}

<body>
    <script src='/js/core.js'></script>
    <script src='/js/logout.js'></script>
</body>
</html>
