<html lang='en'>
{{> HEAD 
    title="Funkallero UI Example" 
    description="Funkallero is an abstraction on top of Express"
    css=(csvArray "/css/core.css")
    js=(csvArray "/js/core.js")
}}
<body>
    <nav>
         <ul>
            <li><a href="/">Home2</a></li>
            <li><a href="/create">Create</a></li>
            <li style="float:right" ><a class="active" href="/logout">Logout</a></li>
        </ul> 
    </nav>
    <h1>{{doesWhat}}</h1>
</body>
</html>